@charset "UTF-8";
/*
  【色の定義方法】
  ・https://codepen.io/meodai/full/mEvZRx このサイトでカラー名を調べる
  ・(カラーの系統)-(カラー名) に統一する
  ex) #bf13cd
  → $purple-awkward-purple: #bf13cd;
*/
/* グローバルに使用するフォントファミリーを設定 */
/*
  【メディアクエリ使用方法】
    @include sp{
      ...
    }
*/
/* 
  シャドーは全てこのファイルに変数を定義する
  定義する内容は影の長さのみ
  例）$shadow: 0 3px 6px;
*/
/* Tool Layer */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Generic Layer */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* Form Style Reset */
input,
button,
select,
textarea {
  font: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Element Layer */
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  color: #363636;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Object Layer */
.common-container {
  width: 100%;
  min-height: 100vh;
}

/* Object Layer */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-image {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.bg-image > img {
  position: absolute;
  top: -380px;
  width: 100%;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 2rem;
  margin: 0 auto;
  border-bottom: thin solid #f0ecec;
}

.user-profile > .image > img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin-right: 1rem;
}

.user-profile > .text {
  padding-left: 2rem;
  font-size: 0.8rem;
}

.user-profile > .text > .username {
  font-size: 1.143rem;
  font-weight: 900;
}

.post-detail {
  width: 70%;
  margin: 0 auto;
  padding-top: 5rem;
}

.post-detail > .title {
  font-size: 1.57rem;
}

.post-detail > .content {
  font-size: 1.286rem;
  margin-top: 1rem;
}

.post-detail > .image > img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

.post-list {
  background-color: #f0ecec;
}

.post-list > .post {
  padding: 3rem;
}

.post-list > .post > li {
  padding: 2rem;
  width: 80%;
  background-color: #ffffff;
  border: thin solid #929191;
  margin: 0 auto;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.428rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#__layout > div > div > div.post-list > div > li > div > img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin-right: 1rem;
}

.username {
  font-size: 0.8rem;
}

.date {
  font-size: 0.8rem;
}

.title {
  font-size: 1.428rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem;
  font-size: 1.713rem;
  color: #ffffff;
  background-color: #000000;
}

header > .logo {
  padding-left: 1rem;
  font-size: 1.713rem;
}

header > .nav-list > .link {
  padding-top: 0.3rem;
  color: #ffffff;
  text-decoration: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
}

header > .nav-list > li {
  padding-right: 2rem;
  font-size: 1.143rem;
  text-align: right;
}
/*# sourceMappingURL=app.css.map */