header {
    display: flex;
    width: 100%;
    padding: 1rem;
    font-size: $font-xl;
    color: $white;
    background-color: $black
}

header > .logo {
    padding-left: 1rem;
    font-size: $font-xl;
}

header > .nav-list > .link {
    padding-top: 0.3rem;
    color: $white;	
    text-decoration: none;
 }

 .nav-list {
    display: flex;
    margin: 0 0 0 auto;
 }

 header > .nav-list > li {
    padding-right: 2rem;
    font-size: $font-sm;
    text-align: right;
 }

