.post-list {
  background-color: $snowberry-glay;
}

.post-list > .post {
  padding: 3rem;
}

.post-list > .post > li {
  display: flex;
  width: 80%;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: $font-md;
  font-weight: $bold;
  background-color: $white;
  border: thin solid $light-glay;
}

#__layout > div > div > div.post-list > div > li > div > img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.user-name {
  font-size: $font-xxs;
}

.post-date {
  font-size: $font-xxs;
}

.post-title {
  font-size: $font-md;
}
